<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">Your Conversations</div>
      <div class="panel-body">
        <div class="container">
          <% @conversations.each do |conversation| %>
            <!-- gotta check if there is even a conversation or any messages dawg -->
            <% if !conversation.messages.nil? && !conversation.messages.last.nil? %>
              <!-- determine who's who -->
              <% other = conversation.sender == current_user ? conversation.recipient : conversation.sender %>
              <%= link_to conversation_messages_path(conversation) do %>
                <div class="row conversation">
                  <div class="col-md-2">
                    <%= image_tag profile_pic_url(other), class: "img-circle profile-pic-medium" %>
                  </div>
                  <div class="col-md-2">
                    <%= other.fullname %><br>
                    <%= conversation.messages.last.message_time %>
                  </div>
                  <div class="col-md-8">
                    <%= conversation.messages.last.content %>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
</div>
