<!DOCTYPE html>
<html>
  <head>
    <title>LivingLAB</title>
    <meta name="description" content="LivingLAB - Welcome home!">
		<meta name="author" content="Oscar Hong">
    <!-- Use Google's Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/navbar' %>

    <%= render 'shared/message' %>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>